
@{
    ViewBag.Title = "Edit Form";
    ViewBag.isFormBuilder = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Form</h2>

@Html.Raw(String.Format(Beefry.FormBuilder.Template.FormBuilderEditDirective,ViewBag.FormBuilderID))