@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.isFormBuilder = true;
}

<h2>Create</h2>
@{
	if(Model != null) {
        @Html.Raw(String.Format(Beefry.FormBuilder.Form.FormDisplayDirective,Model==null?"null":Model))
    }
    else
    {
        <div>Error, no template ID was supplied.</div>
    }
}