
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.isFormBuilder = true;
}

<h2>View</h2>

@{
    @Html.Raw(String.Format(Beefry.FormBuilder.Form.FormDisplayViewDirective, Model))
}