// colors

$color-1: #ecf0f1; // light grey
$color-2: #2ecc71; // green
$color-2-darker: darken($color-2, 10%);
$color-2-lighter: lighten($color-2, 10%);
$color-3: #34495e; // blue dark
$color-4: #ffffff; // white

// fonts

$primary-font: 'Droid Sans', sans-serif;
$secondary-font: 'Droid Serif', serif;

// panel size

$panel-width-S: 90%;
$panel-width-M: 80%;
$panel-width-L: 80%;

// tab size

$tab-filter-height: 50px;

// nav
$nav-height:50px;

// Informational Variables
$error-background:#e74c3c;
$success-background: $color-2;