<div class='fb-error' ng-class="{'show': showError==true}">{{errorMessage}}</div>
<div class='fb-success' ng-class="{'show': showSuccess==true}">{{successMessage}}</div>
<form name="fb_form" ng-submit="fb_form.$valid && saveForm()">
	<h3>
		<div class="fb-template-title">Template ID: {{model.Template.ID}}</div>
	</h3>
	<section class='fb-section'>
		<div class='fb-section-title'>Template Information</div>
		<div class='fb-field'>Formee ID: {{model.Name}}</div>
	</section>
	<section class=''>
		<ul>
			<li class='fb-section' ng-repeat="section in model.Sections">
			<div class='fb-section-title'>{{section.Name}}</div>
				<ul>
					<li class='field-group' ng-repeat="field in section.Fields">
						<div class='fb-field' ng-switch on="field.Type">
							<div ng-switch-when="text">
								<div class='fb-field-title'>{{field.Label}}</div>
								<p>{{field.Options[0].Value}}</p>
							</div>
							<div ng-switch-when="textbox">
								<div class='fb-field-title'>{{field.Label}}</div>
								<input type="text" ng-model="field.Values[0].Content" required/>
							</div>
							<div ng-switch-when="textarea">
								<div class='fb-field-title'>{{field.Label}}</div>
								<textarea ng-model="field.Values[0].Content"/>
							</div>
							<div ng-switch-when="radio">
								<div class='fb-field-title'>{{field.Label}}</div>
								<label ng-repeat="option in field.Options">
									<span>{{option.Value}}</span>
									<input type="radio" name="{{field.ID}}" ng-model="field.Values[0].Content" required/>
								</label>
							</div>
							<div ng-switch-when="select">
								<div class='fb-field-title'>{{field.Label}}</div>
								<select>
									<option ng-repeat="option in field.Options" ng-selected="field.Values[0].Content">{{option.Value}}</option>
								</select>
							</div>
							<div ng-switch-when="checkbox">
								<div class='fb-field-title'>{{field.Label}}</div>
								<label ng-repeat="option in field.Options">
									<span>{{option.Value}}</span>
									<input type="checkbox" name="{{option.ID}}" ng-model="field.Values[$index].Content" required/>
								</label>
							</div>
						</div>
					</li>
				</ul>
			</li>
		</ul>
		<div class='field-controls'></div>
	</section>
	<section class='form-controls'>
		<button class="frm-btn" type="submit">Save Form</button>
	</section>
</form>